{{#each item}}
<figure class="item1">
    <a href="/post/view/{{this._id}}"><img src={{img}} ></a>

    <h2><a href="/post/view/{{this._id}}">{{header}}</a></h2>

    <figcaption class="caption"> 
        <a href="/post/view/{{this._id}}">{{caption}}</a>
    </figcaption><br>

    <p> <a style="color: #64a19d;">{{tags}}</a></p>

    <div class="button" id="button-2" href="/post/donate/{{this._id}}">
        <div id="slide" href="/post/donate/{{this._id}}"></div>
        <a href="/post/donate/{{this._id}}" style="color: black; width:150px; height:40px; line-height:40px; text-align: center;">Donate Now</a> 
    </div> 

</figure>
{{/each}}