{{#each item}}


<figure class="item1">
    
    
<a href="/post/view/{{this._id}}"><img src={{img}} ></a>

    <h2 href="/post/edit/{{this._id}}">
            <a href="/post/view/{{this._id}}">{{header}}</a>
    </h2>

    <figcaption class="caption" href="/post/edit/{{this._id}}"> 
            <a href="/post/view/{{this._id}}">{{caption}}</a>
    
    
    
    </figcaption>
    <br>
    <p >  
        <a  style="color: #64a19d;">{{tags}}</a>
    </p>

    <div class="button" id="button-2" href="/donate">
        <div id="slide" href="/donate"></div>
        <a href="/donate" style="color: black; width:150px; height:40px; line-height:40px; text-align: center;">Donate Now</a> 
    </div>   
</figure>
{{/each}}