<title>My Profile</title>
<body id="page-top">
  
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><img class="profpic" src="{{dp}}"> {{username}}</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
		  <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/profile#about">About Me</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/profile#projects">My Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/post/create">Create Post</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- About Me Section -->
  <section id="about" class="about-section">
    <div class="container">
      <div class="row">

        <div id="profpic">
          <img src = "{{dp}}"></img>
        </div>

        <div id="biosection" class="col-lg-8 mx-1"> 
          <div id="header"><h2 class="text-white mb-4">Hello {{username}}! </h2></div>
          <div id="bio">
            <p class="text-white mb-5"> {{bio}} </p>
            <div class="button" id="button-2" style="background-color:#64a19d79; float:right;" href="/profile/edit/{{this._id}}">
              <div id="slide" ></div>
              <a href="/profile/edit/{{this._id}}" style="color: white;width:150px; height:40px; line-height:40px; text-align: center;">Edit Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light text-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-black mb-4">My Projects</h2>
          <p class="text-black-50">Here is a list of your projects.</p>
        </div>
      </div>
    </div>  

    <div id="columns"  style="text-align: left;">
      {{> cardProfile }}
    </div>

  </section>

  <!-- Create Project Section -->
  <section class="projects-section bg-light text-center">
    <div class="button" id="button-2" href="/post/create">
      <a href="/post/create" style="color: black;">Create Post</a> 
    </div>
  </section>

  <!-- Subscribe Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

          <form class="form-inline d-flex">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
            <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
          </form>

        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black" id="contact">
    <div class="container">
      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">4923 Market Street, Orlando FL</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">hello@yourdomain.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">+1 (555) 902-8832</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Your Website 2019
    </div>
  </footer>
</body>

<script>
  function upload(myFile)
  {
    var image = document.createElement("img");
    var source = document.createAttribute("src");
    var file = myFile.files[0];  

    var filename = file.name;
    source.value = filename;
    image.setAttributeNode(source);

    $("#cont").append(image)	
  }
</script>