<title>{{item.header}}</title>
<body id="page-top">
  <!-- View A Post -->
  <section id="edit" class="login-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-10 mx-auto text-center" id="vOnediv">
          <div id="v1">
            <img id="imgV" src={{item.img}}>
            <div id="hVdiv">
                  <h id="">{{item.header}}</h>
              </div>
            <div id="v2">
              
               
              <figcaption class="caption" id="cV">{{item.caption}} <br><br> <p style="color: #64a19d;">{{#item.tags}} {{.}} {{/item.tags}}</p> </figcaption>
              <br><br>


              <div id="botV">  
                <div id="bottomdiv2"><br>
                  <p1 id="totalAmountV">Total amount donated: </p1>
                  <br>
                  <!-- edit this for total amount -->
                  <p1 id="totalAmountV">P10000000</p1>
                  <!---->
                </div>

                <div id="bottomdiv">
                  <div class="button" id="button-2" data-toggle="modal" data-target="#myModal" style="float:right; margin-right:60px;">
                   <div id="slide" data-toggle="modal" data-target="#myModal"></div>
                    <a data-toggle="modal" data-target="#myModal" style="color: black;width:150px; height:40px; line-height:40px; text-align: center;">Donate Now</a>
                  </div> 
                </div>
              </div>     
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<div id="myModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Donation Channels</h4>
                      </div>
                      <div class="modal-body">
						<div class="form-inline d-flex flex-column" >
                            <p>You are donating to <p1 style="font-weight: 700;">{{item.header}}</p1>.</p>
                            <p>Below are the donation channels: </p>
                            <div id="channeldiv">
                                <p id="channelhead"> <img id="channelicon" src="../img/BDO.png" alt="">Banco De Oro</p>
                                <div id="details">
                                    <p1 id="channeldetails">Account Name: Enrico Cuison <!--{Account name from db}}--></p1><br>
                                    <p1 id="channeldetails">Account Number: 651698191 <!--{Account number from db}}--></p1>
                                </div>
                            </div>
                            <div id="channeldiv">
                                <p id="channelhead"> <img id="channelicon" src="../img/BPI.png" alt="">Bank of the Philippine Islands</p>
                                
                                <div id="details">
                                    <p1 id="channeldetails">Account Name: Enrico Cuison</p1><br>
                                    <p1 id="channeldetails">Account Number: 651698191</p1>
                                </div>
                            </div>
                            <div id="channeldiv">
                                <p id="channelhead"> <img id="channelicon" src="../img/METROBANK.jpg" alt="">Metrobank</p>
                                <div id="details">
                                    <p1 id="channeldetails">Account Name: Enrico Cuison</p1><br>
                                    <p1 id="channeldetails">Account Number: 651698191</p1>
                                </div>
                                
                            </div>

                           
                            
                            
						</div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
  <!-- Contact Section -->
  <section class="contact-section bg-black" id="contact">
    <div class="container">
      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Enrico Luis Cuison</h4>
              <hr class="my-4">
              <div class="small text-black-50"> enrico_cuison@dlsu.edu.ph </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Mari Jazzmine Ilagan</h4>
              <hr class="my-4">
              <div class="small text-black-50"> mari_ilagan@dlsu.edu.ph </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Jacob Israel Salazar</h4>
              <hr class="my-4">
              <div class="small text-black-50"> jacob_salazar@dlsu.edu.ph </div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </section>
</body>